.asteroidsFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.checkbox,
.radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.checkbox + label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex: 0 0 auto;
  border: 2px solid var(--black);
  border-radius: 2px;
  margin-right: 10px;
  background: no-repeat center;
  background-size: 70%;
}

.checkbox:checked + label::before {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--grey-dark);
}

.checkbox:not(:disabled):active + label::before {
  background-color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.checkbox:focus:not(:checked) + label::before {
  border-color: var(--brand-secondary);
}

.checkbox:disabled + label::before {
  background-color: #e9ecef;
}


.radio > span {
  cursor: pointer;
  border-bottom: 1px solid var(--black);
}

.radio > input:not(:disabled):not(:checked) + span:hover {
  border-color: transparent;
}

.radio > input:checked + span {
  border-color: transparent;
  font-weight: 700;
}
