.head {
  padding: 8px;
  margin: 0 0 24px;
  background-color: var(--grey-light);
}

.more {
  padding: 24px 0;
}

.moreHeading {
  font-size: 28px;
  line-height: 110%;
  font-weight: 700;
  margin: 0 0 24px;
}

.moreItem {
  font-size: 14px;
  padding: 12px 0 24px;
}

.moreDate {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 4px;
}

.moreItem:not(:last-child) {
  border-bottom: 2px solid var(--black);
}

.info {

}

.infoItem {
  display: flex;
  padding: 4px 0;

}

.infoItem:not(:last-child) {
  border-bottom: 1px solid var(--grey-light);
}

.infoProp {
  width: 334px;
  margin-right: 16px;
}

@media all and (max-width: 680px) {
  .moreHeading {
    font-size: 24px;
  }

  .infoProp, .infoValue {
    width: calc(50% - 8px);
  }

  .infoProp {
    margin-right: 8px;
  }

  .infoValue {
    text-align: right;
    margin-left: 8px;
  }

}
