.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 36px 0 24px;
  border-bottom: 1px solid var(--black);
}

.text {
  max-width: 414px;
}

.logo {
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 8px;
  font-weight: 400;
}

.link {
  position: relative;
  border-bottom: 1px solid var(--black);
}

.link:not(:last-child) {
  margin-right: 24px;
}

.active {
  font-weight: 700;
  border-color: transparent;
}

.count {
  display: inline-block;
  position: absolute;
  top: -11px;
  right: -10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: var(--brand-primary);
  color: var(--white);
}

.miniHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  z-index: 20;
  border-bottom: 2px solid var(--black);
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

.miniHeaderShow {
  transform: translateY(0);
}

.miniHeader .logo {
  font-size: 24px;
  margin: 0;
}

.miniHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 952px;
  padding: 0 16px;
  margin: 0 auto;
}

@media all and (max-width: 680px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 0 16px;
    border-bottom: 1px solid var(--black);
  }

  .text {
    margin: 0 0 24px;
  }

  .link {
    font-size: 14px;
  }

  .link:not(:last-child) {
    margin-right: 10px;
  }

  .logo {
    font-size: 24px;
  }

  .miniHeader .logo {
    font-size: 13px;
    font-weight: 500;
  }
}
